button {
    width: 50;
    height: 10px;
    align-items: center;
    border: 1px solid red
}

h3 {
    color: brown;
}

.tbl {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main {
    margin-top: 2%;
}